In [2]:
# import necessary stuff

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tsfresh
import os

In [179]:
income_table_path = '../census-google_trends-matching/data/metro_areas_table_3.csv'
income_table = pd.read_csv(income_table_path)
income_table.head()

,name,state_id,id,median_income_2014,median_income_2015,median_income_2016,median_income_2017,median_income_2018,median_income_2019,median_income_2021
0,Baltimore MD,MD,512,70881.88,72499.03,75956.00,77210.39,79958.06,83104.75,85820.27
1,Flint-Saginaw-Bay City MI,MI,513,44103.40,45619.89,45651.65,46857.29,49075.39,50653.71,53514.59
2,Buffalo NY,NY,514,48958.45,50666.41,52488.76,53664.79,55573.31,58448.36,61238.27
3,Cincinnati OH,IN,515,55259.99,56563.07,59639.58,61340.97,62990.00,67120.59,70220.94
4,Erie PA,PA,516,45798.81,47960.91,47834.63,50582.48,49778.06,51761.04,56730.36

In [180]:
google_trends_data_path = '../google-trends-retrieval/data/trends_data_2.json'
google_trends_data = pd.read_json(google_trends_data_path)
google_trends_data.head()

,US-MD-512-2020,US-MI-513-2020,US-NY-514-2020,US-MD-512-2019,US-MI-513-2019,US-NY-514-2019,US-MD-512-2018,US-MI-513-2018,US-NY-514-2018,US-MD-512-2017,...,US-WI-617-2017,US-TX-618-2017,US-AR-619-2017,US-LA-622-2017,US-TX-623-2017,US-IA-624-2017,US-TX-625-2017,US-TX-626-2017,US-OK-627-2017,US-AR-628-2017
0,"[84, 95, 79, 81, 81, 81, 79, 97, 84, 60, 56, 7...","[84, 100, 74, 85, 74, 84, 72, 72, 79, 66, 66, ...","[100, 82, 65, 77, 75, 82, 97, 70, 83, 54, 61, ...","[91, 90, 95, 92, 95, 100, 88, 90, 76, 83, 93, ...","[77, 65, 67, 61, 99, 86, 98, 60, 64, 74, 73, 4...","[82, 74, 70, 63, 76, 70, 73, 73, 74, 61, 78, 7...","[79, 86, 82, 83, 80, 82, 88, 72, 84, 78, 73, 7...","[74, 49, 100, 78, 54, 44, 74, 89, 61, 68, 56, ...","[79, 83, 85, 76, 80, 84, 89, 79, 100, 91, 80, ...","[79, 98, 90, 82, 80, 85, 95, 80, 93, 99, 96, 9...",...,"[9, 12, 13, 13, 13, 11, 15, 12, 13, 14, 14, 15...","[92, 90, 83, 89, 86, 87, 84, 93, 92, 93, 85, 8...","[92, 64, 63, 74, 74, 76, 73, 48, 65, 73, 85, 8...","[67, 74, 60, 71, 71, 65, 71, 65, 81, 88, 89, 8...","[80, 77, 73, 70, 75, 72, 72, 82, 74, 80, 76, 8...","[36, 40, 100, 44, 0, 27, 56, 37, 52, 27, 56, 7...","[60, 68, 70, 73, 69, 89, 45, 57, 66, 57, 68, 8...","[65, 0, 0, 0, 0, 0, 0, 54, 0, 57, 0, 27, 0, 29...","[26, 51, 61, 69, 0, 28, 75, 58, 58, 87, 62, 70...","[76, 16, 50, 100, 66, 67, 54, 48, 56, 59, 52, ..."
1,"[93, 91, 87, 86, 89, 88, 91, 89, 100, 81, 80, ...","[96, 83, 97, 91, 90, 88, 82, 100, 99, 91, 69, ...","[100, 84, 89, 91, 94, 86, 90, 93, 94, 85, 81, ...","[96, 90, 94, 94, 87, 88, 83, 100, 85, 92, 92, ...","[97, 94, 83, 80, 84, 77, 72, 99, 94, 98, 86, 7...","[93, 87, 80, 79, 91, 79, 90, 98, 89, 86, 82, 8...","[96, 84, 88, 92, 91, 94, 90, 98, 100, 93, 84, ...","[90, 90, 96, 96, 87, 100, 92, 98, 84, 88, 89, ...","[89, 91, 99, 100, 92, 87, 93, 93, 88, 87, 84, ...","[78, 95, 75, 89, 93, 85, 85, 85, 92, 85, 83, 8...",...,"[82, 95, 84, 85, 83, 84, 83, 83, 92, 80, 80, 8...","[79, 83, 76, 81, 74, 73, 73, 79, 76, 73, 66, 7...","[77, 74, 89, 79, 77, 76, 71, 91, 85, 83, 68, 8...","[91, 96, 86, 88, 89, 85, 81, 94, 81, 86, 93, 1...","[66, 67, 64, 69, 62, 62, 62, 60, 65, 63, 59, 6...","[83, 75, 61, 68, 70, 98, 66, 65, 83, 85, 70, 6...","[81, 94, 91, 95, 97, 95, 85, 78, 83, 88, 84, 8...","[39, 45, 55, 36, 37, 15, 29, 40, 40, 17, 26, 3...","[67, 82, 90, 82, 66, 64, 62, 52, 62, 74, 67, 1...","[92, 80, 62, 85, 85, 84, 59, 80, 82, 80, 85, 7..."
2,"[100, 99, 87, 90, 89, 90, 88, 88, 85, 78, 68, ...","[100, 91, 92, 90, 93, 84, 99, 88, 88, 78, 64, ...","[100, 85, 89, 93, 94, 88, 84, 87, 84, 71, 65, ...","[93, 98, 92, 96, 92, 90, 100, 90, 90, 84, 91, ...","[87, 94, 85, 74, 73, 76, 100, 90, 87, 82, 83, ...","[91, 86, 85, 79, 88, 89, 87, 87, 90, 88, 89, 9...","[96, 94, 95, 100, 96, 96, 96, 92, 93, 91, 91, ...","[100, 93, 85, 96, 97, 91, 88, 90, 90, 87, 93, ...","[100, 91, 91, 98, 91, 91, 84, 92, 91, 89, 95, ...","[85, 94, 86, 90, 84, 85, 87, 81, 85, 85, 83, 8...",...,"[89, 94, 80, 93, 95, 95, 88, 89, 93, 94, 93, 9...","[91, 96, 88, 94, 85, 86, 84, 88, 83, 85, 80, 8...","[69, 76, 78, 100, 79, 86, 83, 79, 78, 76, 81, ...","[86, 97, 100, 91, 89, 83, 81, 81, 70, 82, 82, ...","[54, 62, 59, 60, 54, 59, 49, 52, 49, 50, 44, 5...","[79, 80, 79, 77, 77, 79, 79, 77, 92, 83, 82, 8...","[73, 87, 88, 93, 88, 93, 80, 77, 82, 72, 69, 9...","[63, 63, 56, 50, 61, 73, 52, 48, 64, 60, 84, 5...","[68, 77, 87, 81, 69, 81, 70, 63, 71, 70, 77, 6...","[65, 78, 89, 82, 73, 76, 71, 67, 84, 85, 81, 6..."

In [181]:
categories = [1220, 38, 60]#, 310, 899, 229, 277, 75, 366, 59, 54, 29, 78, 67, 1140, 1147]

# adjust the format of the income table
# merge first three columns
X = income_table.copy()
X['trends_query_with_cat_id'] = 'US-' + X['state_id'] + '-' + X['id'].astype(str)
X = X.drop(columns=['state_id', 'id', 'name'])

# melt the table
X = X.melt(id_vars=['trends_query_with_cat_id'], var_name='year', value_name='income')
# rename the column year values with lambda
X['year'] = X['year'].map(lambda x: x.split('_')[-1])
# merge year and trends_query_with_cat_id
X['trends_query_with_cat_id'] = X['trends_query_with_cat_id'] + '-' + X['year']
# drop year
X = X.drop(columns=['year'])
# make categories list a dataframe
categories_df = pd.DataFrame(categories, columns=['cat_id'])

# cross join
X['-1'] = 0
categories_df['-1'] = 0
X = X.merge(categories_df, on='-1', how='outer')
X = X.drop(columns=['-1'])

# merge the cat_id column with trends_query_with_cat_id
X['trends_query_with_cat_id'] = X['trends_query_with_cat_id'] + '-' + X['cat_id'].astype(str)
# drop the cat_id column
X = X.drop(columns=['cat_id'])

income_table = X.copy()
income_table

     trends_query_with_cat_id     income
0         US-MD-512-2014-1220   70881.88
1           US-MD-512-2014-38   70881.88
2           US-MD-512-2014-60   70881.88
3         US-MI-513-2014-1220   44103.40
4           US-MI-513-2014-38   44103.40
...                       ...        ...
4405        US-OH-510-2021-38   61762.68
4406        US-OH-510-2021-60   61762.68
4407      US-WV-511-2021-1220  106276.23
4408        US-WV-511-2021-38  106276.23
4409        US-WV-511-2021-60  106276.23

[4410 rows x 2 columns]

In [182]:
X = google_trends_data.copy()

# convert all the row/column indexing to rows

X = X.stack().reset_index().rename(
    columns={
        'level_0': 'cat_idx',
        'level_1': 'trends_query',
    }
)
# map the category idx to category id
X['cat_id'] = X['cat_idx'].map(lambda x: categories[x])
# drop the cat_idx column
X = X.drop(columns=['cat_idx'])
# merge two columns
X['trends_query'] = X['trends_query'] + '-' + X['cat_id'].astype(str)
# drop the cat_id column
X = X.drop(columns=['cat_id'])
# rename the trends_query column 
X = X.rename(columns={'trends_query': 'trends_query_with_cat_id'})
# rename the 0 column
X = X.rename(columns={0: 'trends_time_series'})

google_trends_data = X.copy()
google_trends_data

,trends_query_with_cat_id,trends_time_series
0,US-MD-512-2020-1220,"[84, 95, 79, 81, 81, 81, 79, 97, 84, 60, 56, 7..."
1,US-MI-513-2020-1220,"[84, 100, 74, 85, 74, 84, 72, 72, 79, 66, 66, ..."
2,US-NY-514-2020-1220,"[100, 82, 65, 77, 75, 82, 97, 70, 83, 54, 61, ..."
3,US-MD-512-2019-1220,"[91, 90, 95, 92, 95, 100, 88, 90, 76, 83, 93, ..."
4,US-MI-513-2019-1220,"[77, 65, 67, 61, 99, 86, 98, 60, 64, 74, 73, 4..."
...,...,...
2209,US-IA-624-2017-60,"[79, 80, 79, 77, 77, 79, 79, 77, 92, 83, 82, 8..."
2210,US-TX-625-2017-60,"[73, 87, 88, 93, 88, 93, 80, 77, 82, 72, 69, 9..."
2211,US-TX-626-2017-60,"[63, 63, 56, 50, 61, 73, 52, 48, 64, 60, 84, 5..."
2212,US-OK-627-2017-60,"[68, 77, 87, 81, 69, 81, 70, 63, 71, 70, 77, 6..."
2213,US-AR-628-2017-60,"[65, 78, 89, 82, 73, 76, 71, 67, 84, 85, 81, 6..."

In [183]:
# We have a list of values in the column "trends_time_series", and we want to convert this list into a column with name "time" and "trend_value"

series = google_trends_data['trends_time_series'].apply(pd.Series)
series_stacked = series.stack().reset_index()
series_stacked = series_stacked.rename(
    columns={
        0: 'trends_value',
        'level_0': 'idx',
        'level_1': 'time',
    }
)

series_stacked

# make the index column
google_trends_data['idx'] = google_trends_data.index

# merge on idx
google_trends_data = google_trends_data.merge(series_stacked, on='idx')

# drop the idx and trends_time_series columns
google_trends_data = google_trends_data.drop(columns=['idx', 'trends_time_series'])

google_trends_data

       trends_query_with_cat_id  time  trends_value
0           US-MD-512-2020-1220     0            84
1           US-MD-512-2020-1220     1            95
2           US-MD-512-2020-1220     2            79
3           US-MD-512-2020-1220     3            81
4           US-MD-512-2020-1220     4            81
...                         ...   ...           ...
115123        US-AR-628-2017-60    47            86
115124        US-AR-628-2017-60    48            91
115125        US-AR-628-2017-60    49            78
115126        US-AR-628-2017-60    50            72
115127        US-AR-628-2017-60    51            54

[115128 rows x 3 columns]

In [184]:
# remove the rows that do not exist in the google trends data
income_table = income_table[income_table['trends_query_with_cat_id'].isin(google_trends_data['trends_query_with_cat_id'])]

# sort by trends_query_with_cat_id
income_table = income_table.sort_values(by=['trends_query_with_cat_id'])

# reindex
income_table = income_table.reset_index(drop=True)

# remove the rows that do not exist in the income table
google_trends_data = google_trends_data[google_trends_data['trends_query_with_cat_id'].isin(income_table['trends_query_with_cat_id'])]

# sort by trends_query_with_cat_id and time
google_trends_data = google_trends_data.sort_values(by=['trends_query_with_cat_id', 'time'])

# reindex
google_trends_data = google_trends_data.reset_index(drop=True)

In [185]:
income_table

     trends_query_with_cat_id    income
0         US-AK-743-2018-1220  77437.78
1           US-AK-743-2018-38  77437.78
2           US-AK-743-2018-60  77437.78
3         US-AK-743-2019-1220  77025.66
4           US-AK-743-2019-38  77025.66
...                       ...       ...
1564        US-WY-767-2018-38  60377.20
1565        US-WY-767-2018-60  60377.20
1566      US-WY-767-2019-1220  64183.69
1567        US-WY-767-2019-38  64183.69
1568        US-WY-767-2019-60  64183.69

[1569 rows x 2 columns]

In [186]:
google_trends_data

      trends_query_with_cat_id  time  trends_value
0          US-AK-743-2018-1220     0            45
1          US-AK-743-2018-1220     1            51
2          US-AK-743-2018-1220     2            68
3          US-AK-743-2018-1220     3            53
4          US-AK-743-2018-1220     4            64
...                        ...   ...           ...
81583        US-WY-767-2019-60    47            88
81584        US-WY-767-2019-60    48            84
81585        US-WY-767-2019-60    49            66
81586        US-WY-767-2019-60    50            60
81587        US-WY-767-2019-60    51            73

[81588 rows x 3 columns]

In [187]:
# extract all the features
all_extracted_features = tsfresh.extract_features(google_trends_data, column_id='trends_query_with_cat_id', column_sort='time')
all_extracted_features = all_extracted_features.reset_index()
all_extracted_features = all_extracted_features.rename(columns={'index': 'trends_query_with_cat_id'})
all_extracted_features = all_extracted_features.dropna(axis=1)
all_extracted_features

Feature Extraction: 100%|██████████| 20/20 [00:18<00:00,  1.10it/s]

,trends_query_with_cat_id,trends_value__variance_larger_than_standard_deviation,trends_value__has_duplicate_max,trends_value__has_duplicate_min,trends_value__has_duplicate,trends_value__sum_values,trends_value__abs_energy,trends_value__mean_abs_change,trends_value__mean_change,trends_value__mean_second_derivative_central,...,trends_value__fourier_entropy__bins_3,trends_value__fourier_entropy__bins_5,trends_value__fourier_entropy__bins_10,trends_value__fourier_entropy__bins_100,trends_value__permutation_entropy__dimension_3__tau_1,trends_value__permutation_entropy__dimension_4__tau_1,trends_value__permutation_entropy__dimension_5__tau_1,trends_value__permutation_entropy__dimension_6__tau_1,trends_value__permutation_entropy__dimension_7__tau_1,trends_value__mean_n_absolute_max__number_of_maxima_7
0,US-AK-743-2018-1220,1.0,0.0,0.0,1.0,3192.0,209256.0,17.588235,0.333333,0.26,...,0.813070,1.258543,1.849503,3.071080,1.741834,2.804091,3.452142,3.820652,3.828641,86.428571
1,US-AK-743-2018-38,1.0,0.0,0.0,1.0,3891.0,298339.0,13.196078,-0.294118,0.18,...,0.683739,1.151964,1.579384,2.833739,1.747410,2.956228,3.553509,3.791156,3.828641,95.857143
2,US-AK-743-2018-60,1.0,1.0,0.0,1.0,4035.0,318675.0,8.882353,-0.607843,0.12,...,0.813070,1.375341,1.982419,3.039116,1.761912,2.940027,3.784558,3.820652,3.828641,94.428571
3,US-AK-743-2019-1220,1.0,0.0,0.0,1.0,3055.0,193595.0,18.803922,0.137255,0.34,...,0.678607,1.053166,1.703754,3.039116,1.757178,2.869940,3.553509,3.791156,3.828641,83.285714
4,US-AK-743-2019-38,1.0,0.0,0.0,1.0,3743.0,273665.0,9.588235,-0.176471,0.09,...,0.727388,1.236599,1.712807,3.019736,1.759685,2.961384,3.640152,3.761661,3.798505,88.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564,US-WY-767-2018-38,1.0,0.0,0.0,1.0,3803.0,291277.0,15.823529,-1.000000,0.42,...,0.848686,1.299645,1.892316,3.090460,1.780073,3.007289,3.697914,3.850148,3.828641,95.285714
1565,US-WY-767-2018-60,1.0,0.0,0.0,1.0,4025.0,319983.0,14.000000,-0.156863,0.11,...,0.813083,1.237120,1.880805,3.071080,1.787673,2.972063,3.640152,3.850148,3.828641,97.142857
1566,US-WY-767-2019-1220,1.0,0.0,1.0,1.0,1475.0,68057.0,18.764706,1.078431,-0.07,...,0.803712,1.268909,1.858861,3.000357,1.750667,2.936283,3.697914,3.850148,3.828641,69.571429
1567,US-WY-767-2019-38,1.0,0.0,0.0,1.0,3453.0,241489.0,18.019608,-0.450980,-0.17,...,0.571833,1.008541,1.671197,3.019736,1.689354,2.847170,3.600370,3.850148,3.828641,90.285714
1568,US-WY-767-2019-60,1.0,0.0,1.0,1.0,4011.0,314899.0,10.470588,-0.352941,0.28,...,0.629831,1.101208,1.676612,2.885083,1.757013,3.028646,3.726795,3.850148,3.828641,93.285714

In [188]:
# map the trends_query_with_cat_id column to integer hash value
Y = pd.Series(income_table['income'])
Y

0       77437.78
1       77437.78
2       77437.78
3       77025.66
4       77025.66
          ...
1564    60377.20
1565    60377.20
1566    64183.69
1567    64183.69
1568    64183.69
Name: income, Length: 1569, dtype: float64

In [189]:
X = google_trends_data.copy()
X['trends_query_with_cat_id'] = X['trends_query_with_cat_id'].map(lambda x: income_table[income_table['trends_query_with_cat_id'] == x].index[0])
X

       trends_query_with_cat_id  time  trends_value
0                             0     0            45
1                             0     1            51
2                             0     2            68
3                             0     3            53
4                             0     4            64
...                         ...   ...           ...
81583                      1568    47            88
81584                      1568    48            84
81585                      1568    49            66
81586                      1568    50            60
81587                      1568    51            73

[81588 rows x 3 columns]

In [190]:
# make income column to be pandas series
relevant_and_significant_features = tsfresh.extract_relevant_features(X, Y,
                                                     column_id='trends_query_with_cat_id', column_sort='time')
relevant_and_significant_features

Feature Extraction: 100%|██████████| 20/20 [00:19<00:00,  1.02it/s]

,"trends_value__linear_trend__attr_""stderr""",trends_value__cid_ce__normalize_False,"trends_value__change_quantiles__f_agg_""var""__isabs_False__qh_1.0__ql_0.0",trends_value__mean_abs_change,trends_value__absolute_sum_of_changes,"trends_value__change_quantiles__f_agg_""mean""__isabs_True__qh_1.0__ql_0.0","trends_value__fft_aggregated__aggtype_""centroid""","trends_value__agg_linear_trend__attr_""intercept""__chunk_len_50__f_agg_""var""","trends_value__fft_aggregated__aggtype_""skew""","trends_value__fft_aggregated__aggtype_""variance""",...,"trends_value__fft_coefficient__attr_""abs""__coeff_12","trends_value__cwt_coefficients__coeff_0__w_2__widths_(2, 5, 10, 20)","trends_value__fft_coefficient__attr_""imag""__coeff_1",trends_value__ar_coefficient__coeff_5__k_10,"trends_value__fft_coefficient__attr_""imag""__coeff_25","trends_value__agg_autocorrelation__f_agg_""var""__maxlag_40","trends_value__change_quantiles__f_agg_""var""__isabs_False__qh_0.2__ql_0.0","trends_value__fft_coefficient__attr_""angle""__coeff_21",trends_value__benford_correlation,"trends_value__fft_coefficient__attr_""real""__coeff_13"
0,0.149701,154.256280,466.457516,17.588235,897.0,17.588235,5.747872,246.2400,1.047286,62.790596,...,65.408522,-11.109730,-98.202499,0.407933,43.027524,0.028238,76.222222,76.574504,-0.427005,-26.0
1,0.110309,119.184731,278.442907,13.196078,673.0,13.196078,4.413449,140.3744,1.554082,59.273474,...,94.037769,5.522284,49.385478,0.250236,-124.874577,0.025758,25.000000,86.743457,-0.502326,28.0
2,0.088261,79.630396,123.963860,8.882353,453.0,8.882353,3.396190,97.7776,1.949342,43.641697,...,62.291174,7.574359,-73.356874,0.109966,-48.696370,0.045265,27.551020,151.901547,-0.486625,-6.0
3,0.155175,162.600738,518.392926,18.803922,959.0,18.803922,6.124796,272.6000,1.007755,65.550683,...,274.181936,-2.788429,30.113814,0.086301,6.555278,0.049036,68.666667,38.863679,-0.371111,78.0
4,0.084959,90.282889,159.792388,9.588235,489.0,9.588235,3.859092,74.5700,1.830467,56.386850,...,56.203408,9.535927,95.012907,0.267732,14.018751,0.026403,0.000000,-132.106456,-0.419434,-17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564,0.138409,135.908057,361.176471,15.823529,807.0,15.823529,4.723727,204.1156,1.400190,56.822152,...,245.458994,-0.316204,-128.036905,0.186240,-42.727331,0.043736,196.000000,-15.031372,-0.667953,31.0
1565,0.115135,122.507143,294.249904,14.000000,714.0,14.000000,4.467384,160.1184,1.475643,56.512712,...,113.077035,-6.731586,-113.811048,0.153120,-45.679884,0.031087,120.187500,112.668942,-0.590738,35.0
1566,0.211582,191.846293,720.503652,18.764706,957.0,18.764706,8.479600,486.0944,0.515911,65.110607,...,101.695067,-40.271568,-112.215405,0.229470,83.130752,0.034191,0.000000,36.842629,0.859191,-124.0
1567,0.144311,163.079735,521.267205,18.019608,919.0,18.019608,6.130539,241.3296,1.005689,71.363942,...,91.469863,17.009439,-6.037514,-0.225158,100.510573,0.032645,56.250000,134.752974,-0.458324,-65.0
1568,0.093595,91.695147,164.738178,10.470588,534.0,10.470588,3.566823,103.8464,1.811965,46.003736,...,90.251919,2.387539,-78.799322,-0.252016,3.248018,0.040538,47.472222,-153.197906,-0.514056,45.0

In [191]:
# save everything
# make sure data/ folder exists
os.makedirs('data', exist_ok=True)

final_table_all = all_extracted_features.merge(income_table, on='trends_query_with_cat_id', how='outer')
final_table_relevant = pd.concat([income_table, relevant_and_significant_features], axis=1)

# save as csv
final_table_all.to_csv('data/final_table_all.csv', index=False)
final_table_relevant.to_csv('data/final_table_relevant.csv', index=False)