In [45]:
#import necessary stuff
import pandas as pd
import requests
import os
import numpy as np

## Predefined Variables

In [67]:
#predefined variables

year = 2021
geo_hierarchy = 'county'

one_year_estimate_table_name = 'S1901'
one_year_supplement_estimate_table_name = 'K201901'
five_year_estimate_table_name = 'S1901'

## Useful Methods

In [20]:
#make a request to the census api
def make_request(url):
    response = requests.get(url)
    return response.json()

In [21]:
#make a data frame from the response
def get_df_from(url):
    data = make_request(url)
    df = pd.DataFrame(data[1:], columns=data[0])
    return df

## One Year Estimate Table (2021)

In [55]:
# retrieve one_year_estimate_table
url = f'https://api.census.gov/data/{year}/acs/acs1/subject?get=group({one_year_estimate_table_name})&for={geo_hierarchy}:*'
one_year_estimate_table = get_df_from(url)
one_year_estimate_table

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001EA,S1901_C01_001M,S1901_C01_001MA,S1901_C01_002E,S1901_C01_002EA,S1901_C01_002M,S1901_C01_002MA,...,S1901_C04_015E,S1901_C04_015EA,S1901_C04_015M,S1901_C04_015MA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA,state,county
0,0500000US26155,"Shiawassee County, Michigan",28226,None,795,None,4.9,None,1.6,None,...,-888888888,(X),-888888888,(X),37.6,None,-888888888.0,(X),26,155
1,0500000US26161,"Washtenaw County, Michigan",149133,None,2646,None,6.3,None,1.1,None,...,-888888888,(X),-888888888,(X),30.5,None,-888888888.0,(X),26,161
2,0500000US27139,"Scott County, Minnesota",55327,None,381,None,2.4,None,1.1,None,...,-888888888,(X),-888888888,(X),29.8,None,-888888888.0,(X),27,139
3,0500000US27171,"Wright County, Minnesota",52260,None,1063,None,2.2,None,1.1,None,...,-888888888,(X),-888888888,(X),38.0,None,-888888888.0,(X),27,171
4,0500000US28047,"Harrison County, Mississippi",81224,None,2336,None,8.3,None,2.4,None,...,-888888888,(X),-888888888,(X),30.2,None,-888888888.0,(X),28,047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0500000US06017,"El Dorado County, California",74909,None,2311,None,4.7,None,1.5,None,...,-888888888,(X),-888888888,(X),32.1,None,-888888888.0,(X),06,017
837,0500000US06019,"Fresno County, California",322646,None,2438,None,7.4,None,0.8,None,...,-888888888,(X),-888888888,(X),38.1,None,-888888888.0,(X),06,019
838,0500000US06023,"Humboldt County, California",55184,None,1634,None,6.2,None,1.7,None,...,-888888888,(X),-888888888,(X),37.4,None,-888888888.0,(X),06,023
839,0500000US06025,"Imperial County, California",47849,None,1750,None,8.2,None,2.2,None,...,-888888888,(X),-888888888,(X),26.1,None,-888888888.0,(X),06,025
840,0500000US06029,"Kern County, California",282963,None,3285,None,6.2,None,0.9,None,...,-888888888,(X),-888888888,(X),29.3,None,-888888888.0,(X),06,029

In [56]:
# adjust columns 
critical_columns = ['NAME', 'GEO_ID', 'S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E']
corresponding_labels = ['Name', 'Geo_id', '0 - 9999', '10000 - 14999', '15000 - 24999', '25000 - 34999', '35000 - 49999', '50000 - 74999', '75000 - 99999', '100000 - 149999', '150000 - 199999', '200000 or more']
total_households = one_year_estimate_table['S1901_C01_001E']

In [57]:
total_households = total_households.to_numpy().astype(float)

one_year_estimate_table = one_year_estimate_table[critical_columns]
one_year_estimate_table.columns = corresponding_labels

one_year_estimate_table.iloc[:, 2:] = one_year_estimate_table.iloc[:, 2:].astype(float)
one_year_estimate_table.iloc[:, 2:] = one_year_estimate_table.iloc[:, 2:] / 100 * total_households[:, None]

one_year_estimate_table

/var/folders/pw/pkph45p90c3111v2lfwq9jdh0000gn/T/ipykernel_27226/189631761.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_year_estimate_table.iloc[:, 2:] = one_year_estimate_table.iloc[:, 2:].astype(float)
/var/folders/pw/pkph45p90c3111v2lfwq9jdh0000gn/T/ipykernel_27226/189631761.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_year_estimate_table.iloc[:, 2:] = one_year_estimate_table.iloc[:, 2:] / 100 * total_households[:, None]

,Name,Geo_id,0 - 9999,10000 - 14999,15000 - 24999,25000 - 34999,35000 - 49999,50000 - 74999,75000 - 99999,100000 - 149999,150000 - 199999,200000 or more
0,"Shiawassee County, Michigan",0500000US26155,1383.074,1411.3,2286.306,2088.724,5729.878,5701.652,3754.058,4120.996,1157.266,564.52
1,"Washtenaw County, Michigan",0500000US26161,9395.379,4772.256,8202.315,10290.177,15211.566,25054.344,17299.428,26396.541,12527.172,19685.556
2,"Scott County, Minnesota",0500000US27139,1327.848,331.962,2600.369,1881.118,4702.795,7413.818,7745.78,11563.343,7358.491,10346.149
3,"Wright County, Minnesota",0500000US27171,1149.72,836.16,2247.18,2351.7,4964.7,6637.02,7995.78,15050.88,6741.54,4285.32
4,"Harrison County, Mississippi",0500000US28047,6741.592,3817.528,7066.488,9097.088,10640.344,15351.336,10559.12,11452.584,3086.512,3411.408
...,...,...,...,...,...,...,...,...,...,...,...,...
836,"El Dorado County, California",0500000US06017,3520.723,2022.543,4119.995,3370.905,5468.357,11610.895,9887.988,13858.165,6966.537,14082.892
837,"Fresno County, California",0500000US06019,23875.804,14196.424,27102.264,26456.972,38072.228,56785.696,39040.166,47428.962,26779.618,23230.512
838,"Humboldt County, California",0500000US06023,3421.408,2979.936,5076.928,5849.504,7891.312,10153.856,7780.944,6566.896,2428.096,2979.936
839,"Imperial County, California",0500000US06025,3923.618,2296.752,5694.031,3349.43,6890.256,8230.028,4784.9,9187.008,1291.923,2248.903
840,"Kern County, California",0500000US06029,17543.706,13016.298,27730.374,27447.411,40463.709,43576.302,33672.597,43293.339,18392.595,18109.632

## One Year Supplement Estimate Table (2021)

In [59]:
# retrieve one_year_supplement_estimate_table
url = f'https://api.census.gov/data/{year}/acs/acsse?get=group({one_year_supplement_estimate_table_name})&for={geo_hierarchy}:*'
one_year_supplement_estimate_table = get_df_from(url)
one_year_supplement_estimate_table

,GEO_ID,NAME,K201901_001E,K201901_001EA,K201901_001M,K201901_001MA,K201901_002E,K201901_002EA,K201901_002M,K201901_002MA,...,K201901_007E,K201901_007EA,K201901_007M,K201901_007MA,K201901_008E,K201901_008EA,K201901_008M,K201901_008MA,state,county
0,0500000US01001,"Autauga County, Alabama",22505,None,1080,None,2022,None,716,None,...,1851,None,772,None,1103,None,522,None,01,001
1,0500000US01003,"Baldwin County, Alabama",94105,None,3462,None,10650,None,2125,None,...,7722,None,2068,None,5250,None,1547,None,01,003
2,0500000US01005,"Barbour County, Alabama",8980,None,749,None,1650,None,536,None,...,74,None,90,None,485,None,380,None,01,005
3,0500000US01007,"Bibb County, Alabama",8250,None,1285,None,1943,None,910,None,...,295,None,273,None,607,None,405,None,01,007
4,0500000US01009,"Blount County, Alabama",21945,None,882,None,2943,None,831,None,...,707,None,450,None,993,None,563,None,01,009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,0500000US72143,"Vega Alta Municipio, Puerto Rico",11651,None,1175,None,4621,None,1060,None,...,302,None,259,None,0,None,254,None,72,143
1901,0500000US72145,"Vega Baja Municipio, Puerto Rico",19142,None,1412,None,8353,None,1222,None,...,325,None,331,None,286,None,242,None,72,145
1902,0500000US72149,"Villalba Municipio, Puerto Rico",5945,None,736,None,2527,None,748,None,...,0,None,254,None,135,None,223,None,72,149
1903,0500000US72151,"Yabucoa Municipio, Puerto Rico",12372,None,1597,None,5742,None,1394,None,...,0,None,254,None,0,None,254,None,72,151
1904,0500000US72153,"Yauco Municipio, Puerto Rico",11608,None,841,None,5578,None,782,None,...,0,None,254,None,70,None,121,None,72,153

In [60]:
# adjust columns 
critical_columns = ['NAME', 'GEO_ID', 'K201901_002E', 'K201901_003E', 'K201901_004E', 'K201901_005E', 'K201901_006E', 'K201901_007E', 'K201901_008E']
corresponding_labels = ['Name', 'Geo_id', '0 - 19999', '20000 - 39999', '40000 - 59999', '60000 - 99999', '100000 - 149999', '150000 - 199999', '200000 or more']

In [61]:
one_year_supplement_estimate_table = one_year_supplement_estimate_table[critical_columns]
one_year_supplement_estimate_table.columns = corresponding_labels

one_year_supplement_estimate_table.iloc[:, 2:] = one_year_supplement_estimate_table.iloc[:, 2:].astype(int)

one_year_supplement_estimate_table

/var/folders/pw/pkph45p90c3111v2lfwq9jdh0000gn/T/ipykernel_27226/4239953972.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_year_supplement_estimate_table.iloc[:, 2:] = one_year_supplement_estimate_table.iloc[:, 2:].astype(int)

,Name,Geo_id,0 - 19999,20000 - 39999,40000 - 59999,60000 - 99999,100000 - 149999,150000 - 199999,200000 or more
0,"Autauga County, Alabama",0500000US01001,2022,4535,4063,5974,2957,1851,1103
1,"Baldwin County, Alabama",0500000US01003,10650,15532,18693,22631,13627,7722,5250
2,"Barbour County, Alabama",0500000US01005,1650,2713,1456,1675,927,74,485
3,"Bibb County, Alabama",0500000US01007,1943,2310,602,1470,1023,295,607
4,"Blount County, Alabama",0500000US01009,2943,4518,4579,4935,3270,707,993
...,...,...,...,...,...,...,...,...,...
1900,"Vega Alta Municipio, Puerto Rico",0500000US72143,4621,3243,1587,1564,334,302,0
1901,"Vega Baja Municipio, Puerto Rico",0500000US72145,8353,4348,3059,2372,399,325,286
1902,"Villalba Municipio, Puerto Rico",0500000US72149,2527,1837,926,386,134,0,135
1903,"Yabucoa Municipio, Puerto Rico",0500000US72151,5742,4706,999,925,0,0,0
1904,"Yauco Municipio, Puerto Rico",0500000US72153,5578,3263,1570,1089,38,0,70

## Five Year Estimate Table (2020)

In [63]:
# retrieve five_year_estimate_table (2020 since it is the most recent)
url = f'https://api.census.gov/data/{year - 1}/acs/acs5/subject?get=group({five_year_estimate_table_name})&for={geo_hierarchy}:*'
five_year_estimate_table = get_df_from(url)
five_year_estimate_table

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001EA,S1901_C01_001M,S1901_C01_001MA,S1901_C01_002E,S1901_C01_002EA,S1901_C01_002M,S1901_C01_002MA,...,S1901_C04_015E,S1901_C04_015EA,S1901_C04_015M,S1901_C04_015MA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA,state,county
0,0500000US01001,"Autauga County, Alabama",21559,None,366,None,6.2,None,1.4,None,...,-888888888,(X),-888888888,(X),36.1,None,-888888888.0,(X),01,001
1,0500000US01003,"Baldwin County, Alabama",84047,None,1143,None,5.2,None,1.0,None,...,-888888888,(X),-888888888,(X),28.4,None,-888888888.0,(X),01,003
2,0500000US01005,"Barbour County, Alabama",9322,None,338,None,14.6,None,2.6,None,...,-888888888,(X),-888888888,(X),36.8,None,-888888888.0,(X),01,005
3,0500000US01007,"Bibb County, Alabama",7259,None,299,None,11.0,None,3.3,None,...,-888888888,(X),-888888888,(X),34.7,None,-888888888.0,(X),01,007
4,0500000US01009,"Blount County, Alabama",21205,None,430,None,10.1,None,2.0,None,...,-888888888,(X),-888888888,(X),40.5,None,-888888888.0,(X),01,009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,0500000US27129,"Renville County, Minnesota",6032,None,140,None,5.4,None,1.3,None,...,-888888888,(X),-888888888,(X),31.6,None,-888888888.0,(X),27,129
3217,0500000US27135,"Roseau County, Minnesota",5940,None,154,None,3.0,None,0.8,None,...,-888888888,(X),-888888888,(X),40.5,None,-888888888.0,(X),27,135
3218,0500000US27141,"Sherburne County, Minnesota",32791,None,345,None,2.9,None,0.8,None,...,-888888888,(X),-888888888,(X),37.1,None,-888888888.0,(X),27,141
3219,0500000US27147,"Steele County, Minnesota",14836,None,191,None,4.6,None,1.1,None,...,-888888888,(X),-888888888,(X),28.6,None,-888888888.0,(X),27,147
3220,0500000US27153,"Todd County, Minnesota",9888,None,194,None,4.2,None,0.7,None,...,-888888888,(X),-888888888,(X),34.0,None,-888888888.0,(X),27,153

In [65]:
# adjust columns 
critical_columns = ['NAME', 'GEO_ID', 'S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E']
corresponding_labels = ['Name', 'Geo_id', '0 - 9999', '10000 - 14999', '15000 - 24999', '25000 - 34999', '35000 - 49999', '50000 - 74999', '75000 - 99999', '100000 - 149999', '150000 - 199999', '200000 or more']
total_households = five_year_estimate_table['S1901_C01_001E']

In [66]:
total_households = total_households.to_numpy().astype(float)

five_year_estimate_table = five_year_estimate_table[critical_columns]
five_year_estimate_table.columns = corresponding_labels

five_year_estimate_table.iloc[:, 2:] = five_year_estimate_table.iloc[:, 2:].astype(float)
five_year_estimate_table.iloc[:, 2:] = five_year_estimate_table.iloc[:, 2:] / 100 * total_households[:, None]

five_year_estimate_table

/var/folders/pw/pkph45p90c3111v2lfwq9jdh0000gn/T/ipykernel_27226/2532677671.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  five_year_estimate_table.iloc[:, 2:] = five_year_estimate_table.iloc[:, 2:].astype(float)
/var/folders/pw/pkph45p90c3111v2lfwq9jdh0000gn/T/ipykernel_27226/2532677671.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  five_year_estimate_table.iloc[:, 2:] = five_year_estimate_table.iloc[:, 2:] / 100 * total_households[:, None]

,Name,Geo_id,0 - 9999,10000 - 14999,15000 - 24999,25000 - 34999,35000 - 49999,50000 - 74999,75000 - 99999,100000 - 149999,150000 - 199999,200000 or more
0,"Autauga County, Alabama",0500000US01001,1336.658,991.714,2651.757,1832.515,2737.993,3665.03,2888.906,3535.676,1034.832,905.478
1,"Baldwin County, Alabama",0500000US01003,4370.444,4034.256,6471.619,8404.7,11766.58,14119.896,11514.439,13027.285,4874.726,5547.102
2,"Barbour County, Alabama",0500000US01005,1361.012,708.472,1715.248,876.268,1165.25,1519.486,680.506,848.302,205.084,242.372
3,"Bibb County, Alabama",0500000US01007,798.49,515.389,762.195,660.569,813.008,1408.246,1132.404,813.008,203.252,159.698
4,"Blount County, Alabama",0500000US01009,2141.705,975.43,2332.55,2374.96,3074.725,3795.695,2290.14,2629.42,1039.045,572.535
...,...,...,...,...,...,...,...,...,...,...,...,...
3216,"Renville County, Minnesota",0500000US27129,325.728,386.048,482.56,506.688,784.16,1405.456,892.736,796.224,265.408,199.056
3217,"Roseau County, Minnesota",0500000US27135,178.2,273.24,457.38,534.6,795.96,1395.9,944.46,926.64,255.42,184.14
3218,"Sherburne County, Minnesota",0500000US27141,950.939,524.656,1442.804,2000.251,3180.727,5705.634,5148.187,8624.033,2885.608,2360.952
3219,"Steele County, Minnesota",0500000US27147,682.456,415.408,1083.028,1275.896,1973.188,2655.644,2299.58,2789.168,934.668,741.8
3220,"Todd County, Minnesota",0500000US27153,415.296,563.616,1018.464,1018.464,1522.752,2106.144,1384.32,1384.32,276.864,207.648

## Save the Tables

In [68]:
if not os.path.exists('data'):
    os.makedirs('data')

one_year_estimate_table.to_csv('data/one_year_estimate_table.csv', index=False)
one_year_supplement_estimate_table.to_csv('data/one_year_supplement_estimate_table.csv', index=False)
five_year_estimate_table.to_csv('data/five_year_estimate_table.csv', index=False)